
.menu-bar__item{
  display: flex;
  margin: auto;
  align-items: center;
}

.menu-bar__item>ul{
  display: flex;
  text-decoration: none;
  list-style-type: none;


}
.menu-bar__item >ul>li{

  padding: 5px;
  margin-right: 16px;
}

.menu-bar__item>ul>li>a{
  text-decoration: none;
  padding: 5px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.menu-bar__item>ul>li>a:hover{
  color: blue;
  font-weight: 780;

}
